#tab_info .media .media-left {
    width: 41%;
}

#tab_info .media .media-left p {
    color: #a0a3ad;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    margin-top: 10px
}

#tab_info ul.list-characteristic {
    list-style: outside none none;
    padding-left: 0;
}

#tab_info .media-left ul.list-characteristic li {
    font-size: 16px;
    margin-bottom: 24px;
}

#tab_info .media-left ul.list-characteristic li i {
    color: #1baccb;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

#tab_info .media-body blockquote {
    border-left: 1px solid #ecedf1;
}

#tab_info .media-body blockquote p {
    font-size: 14px;
    line-height: 24px;
}

#tab_info .media-body blockquote > p > span {
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 40px 200px;
}

#tab_info .media-body .list-settings-ul {
    list-style: none;
    padding-left: 10px;
}

#tab_info .media-body .list-settings-ul li {
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
    width: 100%;
}

#tab_info .media-body a {
    color: #1baccb;
}

#tab_info .media-body .circle-fgnghn {
    background: #1baccb;
    border-radius: 50px;
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    height: 30px;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}

#tab_info .media-body .list-settings-ul li span {
    float: left;
    line-height: 24px;
    width: 91%;
}

#tab_info .app_links {
    float: left;
    list-style: none;
    margin-top: 80px;
    padding-left: 10px;
}

#tab_info .app_links li {
    background: #000;
    border-radius: 8px;
    float: left;
    height: 50px;
    margin-right: 15px;
    width: 142px;
}

#tab_info .app_links li:last-child {
    width: 145px;
    margin-right: 0;
}

#tab_info .app_link {
    width: 142px;
    height: 50px;
    background-image: url(../image/payment/w1/JZ6qasa2JQ57cyVOGHEQMA.png);
    background-size: 140px;
    display: block;
}

#tab_info .app_link.__android {
    width: 145px;
    height: 50px;
    background-image: url(../image/payment/w1/uHetlF1zT_0fmseH1aMPhw.png);
    background-size: 145px auto;
}

#tab_dop_api .well.list_payments{
    max-height: 250px;
    overflow-y: scroll;
}

@media (min-width: 890px) {
    #tab_info .media .media-left {
        width: 30%;
    }
    #tab_info ul.list-characteristic {
        margin: 0 auto;
        width: 312px;
    }
}
